<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <!--        listener tag is used to add Listeners-->
    <listeners>
        <!--        Path of the Listener Utility class-->
        <listener class-name="techproed.utilities.Listeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/funda/IdeaProjects/testNgProject/src/test/java/techproed/tests/listeners/ListenersTest5.java">
        <classes>
            <class name="techproed.tests.listeners.ListenersTest5">
                <methods>
                    <include name="US100201_Admin_Login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>